**/.vscode
**/__pycache__  
data
thirdParty
output
temp/
*.ipynb
boost_1_80_0
install
opencv-4.2.0
Pangolin
cuda_utils
diff-gaussian-rasterizer-depth
simple-knn
*.txt
build
libthirdParty/4.2.0.zip
thirdParty/opencv_contrib-4.2.0.zip
